<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div>
    <h1 align="center">People Sorted By Age Descending</h1>
    <table border="1" align="center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Hobbies</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td><span th:text="${person.id}">ID</span></td>
            <td><span th:text="${person.name}">Name</span></td>
            <td><span th:text="${person.age}">Age</span></td>
            <td><span th:text="${person.hobbies}">Hobbies</span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>